@media (max-width: 600px) {
  .main-container {
    margin: 40px;
  }

  .head-container {
    display: flex;
    flex-direction: column-reverse;
    margin: 40px;
    padding: 10px;
    gap: 10px;
    height: unset;
  }

  .my-photo {
    width: 100%;
  }

  .contact-options {
    width: 100%;
    gap: 10px;
  }
}
